body {
    background-color: #f8f9fa;
}

body {
    font-family: 'Open Sans', sans-serif;
}



header {
    background-color: #83ba30;
    color: #fff;
    padding: 10px 20px; /* Aumentei o padding para espaçamento lateral */
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto; /* Move todos os itens do nav para a esquerda */
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: large;
    
  
}

nav a:hover {
    background-color: #555;
}

nav .acesso {
    display: flex;
   
    flex-direction: column;
}

nav .resto{
    display: flex;
    
    flex-direction: column;
}

.logo img {
    width: 140px;
    height: auto;
    border-radius: 45px;
}

.title {
    flex-grow: 1;
    margin-left: 10px;
}

.linha{
    background-color: black;
    height: 12px;
}

.register-container {
    margin-top: 50px;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color:  #83ba30;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.card-body {
    padding: 40px;
}
.form-group {
    margin-bottom: 25px;
}
.form-group input {
    border-radius: 25px;
    padding: 10px 20px;
}
.btn-register {
    background-color:  #83ba30;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-register:hover {
    background-color: #555;
}
