<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div th:include="~{fragmentos/head}"><!-- menu de estilização --></div>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

</head>


<body>
    <div class="linha">

    </div>
    <header>

        <div class="logo">
            <img src="https://images.assetsdelivery.com/compings_v2/alenabondareva/alenabondareva2105/alenabondareva210500255.jpg"
                alt="">
        </div>
        <div class="title">
            <h1>Escola Spring</h1>
        </div>
        <nav>
            <div class="resto">
                <a href="/home"><i class="fas fa-home"></i>Home</a>
                <a href="/sobre">Sobre</a>
                <a href="/contato">Contato</a>
        </nav>
        <nav>
            <div class="acesso">
                <a href="/login-aluno"><i class="fas fa-user-graduate"></i> Alunos</a>
                <a href="/login-docente"><i class="fas fa-chalkboard-teacher"></i> Professores</a>
                <a href="/login-adm"><i class="fas fa-user-tie"></i> Administradores</a>
            </div>
        </nav>
    </header>





</body>


</html>